<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">This is User Settings Page</title>
</head>
<body>
	<section>

		<div class="container text-center">
		
			<a href="#updateuser" class="btn btn-success bg-primary" >Update Your Profile</a>
			<a href="#resetpassword" class="btn btn-success bg-primary" >Reset Password</a>
			
		</div>


		<div class="row">
			<div class="col-md-12">
			
					
			<!-- Update User Card -->
			<div id="updateuser" class="col-md-12">
				
				<div class="my-card mt-4 me-3 mb-2 rounded">
					<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  						<p class="text-center" th:text="${session.message.content}"></p>
  						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
						
					<h1 class="text-center">Update Account</h1>
					
					<div class="container text-center">					
						<img style="width: 200px; height: 200px;" class="my_profile_picture img-fluid" th:src="@{'/img/' + ${user.getImageUrl()}}" alt="PFP" />
					</div>
					

						<form novalidate action="" th:action="@{'/process-update-user/' + ${user.id}}" method="post" th:object="${user}"
						enctype="multipart/form-data">
							
							<!-- Name Field -->
							<div class="mb-3">
								<label for="name_field" class="form-label">Your Name</label> 
								<input
									type="text" 
									class="form-control" 
									placeholder="Enter Here" 
									id="name_field" 
									name="name" required 
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
									th:value="${user.name}"
									aria-describedby="validationServer01Feedback"/>
								<div th:each="e : ${#fields.errors('name')}" th:text="${e}" id="validationServer01Feedback" class="invalid-feedback"></div>
							</div>
							
							<!-- Email Field -->
							<div class="mb-3">
								<label for="email_field" class="form-label">Your Email</label> 
								<input
									type="email" 
									class="form-control" 
									placeholder="Enter your email here" 
									id="email_field" 
									th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
									name="email" required 
									th:value="${user.email}"
									aria-describedby="validationServer02Feedback"/>
								<div th:each="e : ${#fields.errors('email')}" th:text="${e}" id="validationServer02Feedback" class="invalid-feedback"></div>
							</div>
							
							<!-- Password Field -->
							<div class="mb-3">
								<label for="password_field" class="form-label">Your Password</label> 
								<input
									type="password" 
									class="form-control" 
									placeholder="Enter your password here" 
									id="password_field" 
									th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
									name="password" required
									aria-describedby="validationServer03Feedback" />
								<div th:each="e : ${#fields.errors('password')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback"></div>
							</div>
							
							<!-- User About Field -->
							<div class="mb-3">
							
								<label for="about_field" class="form-label">About</label>
								<textarea 
								placeholder="Enter Something About Yourself" 
								class="form-control" 
								id="about_field"
								name="about" 
								rows="4"
								th:text="${user.about}"></textarea>
							
							</div>
							
							<!-- User Image -->
   							<div class="mb-3">
							  <label for="formFile" class="form-label">Choose Profile Image</label>
							  <input class="form-control" name="profileImage" type="file" id="formFile">
							</div>
							

							<div class="container text-center">
								<button type="submit" class="btn btn-success bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning">Reset</button>
							</div>

						</form>
					</div>
				
			</div>
			
			
				<!-- Reset Password Card -->
				<div id="resetpassword" class="card me-3">
					<div class="card-body">
						<div class="container">

							<h3 class="my-3">Change Password</h3>

							<form th:action="@{/user/change-password}" method="post">

								<!-- Old Password -->
								<div class="mb-3">

									<input name="oldPassword" type="password" class="form-control"
										placeholder="Enter Old Password" required />

								</div>

								<!-- New Password -->
								<div class="mb-3">

									<input name="newPassword" type="password" class="form-control"
										placeholder="Enter New Password" required />

								</div>

								<div class="container text-center">
									<button class="btn btn-success bg-primary" type="submit">Change</button>
									<button class="btn btn-warning" type="reset">Reset</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
			
		</div>

		

		<!-- JS to make active link of sidebar have different block color -->
		<script>
			
			$(document).ready(() => {
				
				$(".item").removeClass("active");
				$("#settings-link").addClass("active");
			});
		
		</script>

	</section>
</body>
</html>