<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is About Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-2 mb-2 rounded">
					<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  						<p class="text-center" th:text="${session.message.content}"></p>
  						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
						
					<div class="container text-center">					
						<img style="width:80px;" src="" th:src="@{/img/membership.png}" alt="" />
					</div>
					
						<h1 class="text-center">Register Here!!</h1>

						<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}"
						enctype="multipart/form-data">
							
							<!-- Name Field -->
							<div class="mb-3">
								<label for="name_field" class="form-label">Your Name</label> 
								<input
									type="text" 
									class="form-control" 
									placeholder="Enter Here" 
									id="name_field" 
									name="name" required 
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
									th:value="${user.name}"
									aria-describedby="validationServer01Feedback"/>
								<div th:each="e : ${#fields.errors('name')}" th:text="${e}" id="validationServer01Feedback" class="invalid-feedback"></div>
							</div>
							
							<!-- Email Field -->
							<div class="mb-3">
								<label for="email_field" class="form-label">Your Email</label> 
								<input
									type="email" 
									class="form-control" 
									placeholder="Enter your email here" 
									id="email_field" 
									th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
									name="email" required 
									th:value="${user.email}"
									aria-describedby="validationServer02Feedback"/>
								<div th:each="e : ${#fields.errors('email')}" th:text="${e}" id="validationServer02Feedback" class="invalid-feedback"></div>
							</div>
							
							<!-- Password Field -->
							<div class="mb-3">
								<label for="password_field" class="form-label">Your Password</label> 
								<input
									type="password" 
									class="form-control" 
									placeholder="Enter your password here" 
									id="password_field" 
									th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
									name="password" required
									aria-describedby="validationServer03Feedback" />
								<div th:each="e : ${#fields.errors('password')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback"></div>
							</div>
							
							<!-- User About Field -->
							<div class="mb-3">
							
								<label for="about_field" class="form-label">About</label>
								<textarea 
								placeholder="Enter Something About Yourself" 
								class="form-control" 
								id="about_field"
								name="about" 
								rows="4"
								th:text="${user.about}"></textarea>
							
							</div>
							
							<!-- User Image -->
   							<div class="mb-3">
							  <label for="formFile" class="form-label">Choose Profile Image</label>
							  <input class="form-control" name="profileImage" type="file" id="formFile">
							</div>
							
							<!-- Terms and Conditions Agreement -->
							
							<div class="mb-3 form-check d-flex justify-content-center">
								<input 
									type="checkbox" 
									name="agreement"
									id="tag" 
									class="form-check-input" />
								<label class="mx-2 form-check-label" for="tag">Agree to Terms and Conditions</label>
							</div>
							
							
							<div class="container text-center">
								<button type="submit" class="btn btn-success bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning">Reset</button>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>